/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.DS_Store
**/.DS_Store

.composer
/storage/logs/
/storage/framework/cache/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/debugbar/
/public/assets/uploads
/public/uploads
/uploads
